body {
  position: relative;
}

.navbar-dark .navbar-brand {
  color:#fff !important;
}

#collapseEx2 .navbar-nav li a.active {
  background:rgb(0, 0, 0);
}

#home {
  background-color: black;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

#rocket {
  background-color: white;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

#background-video{
  position: relative; 
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: 100%;
  background-size: cover;
  overflow: hidden;
  margin: 0, auto;
  object-fit: cover;
  z-index: 0;
  /* vertical-align: middle; */
}



.overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  color: rgb(255, 255, 255);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: visible;
}

.textabout{
  background: rgba(255, 255, 255, 0);
  display: block;
  color: #fff;
}





#ceocto {
  background-color: rgb(255, 255, 255);
  height: 100%;
  top: 0;
  left: 0;
  width: 100%
}

#lau {
  background-color: rgb(0, 0, 0);
  height: 100%;
  top: 0;
  left: 0;
  width: 100%
}

#lau .launches{
  height: 100vh;
}

#ceocto .ceo{
  height: 100vh;
}

#aboutspacex .viewaboutspacex {
  height: 100vh;
}

#home .view {
	height: 100vh;
}

#aboutspacex .viewaboutspacex {
	height: 100vh;
}

#home , .title{
  font-weight:100;
  text-align: center;
}
#aboutspacex {
  background-image:  linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('https://media.discordapp.net/attachments/453542849573814282/811878985306341426/145a4477029515.5c7bcf54cc7f2.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;

}
#aboutrocket {
  background-image:  linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('https://www.spacex.com/static/images/falcon-heavy/FH_10.webp');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;

}
#aboutrocket .viewaboutrocket {
	height: 100vh;
}


@media screen and (min-width: 601px) {
  div.overlay {
    margin-left: 8%;
    margin-bottom: 2%;
  }
  
  div.viewaboutspacex {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 2em;
  }
  div.viewaboutrocket {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 2em;
  }
  div.ceo{
    display: flex;
    align-items: center;
  }
  
}

@media screen and (max-width: 600px) {
  div.overlay {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size: 2em;
  }

  div.viewaboutspacex {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    font-size: 2em;
    display: flex;
  }
  div.textabout {
    text-align: center;
    
  }

}

.inactive {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
}

.inactive::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orange;
    transition: width .3s;
}

.inactive:hover::after {
  width: 100%;
}

.inactive:hover {
  color:orange;
  text-decoration: none;
  font-weight: bolder;
}

.active {
  color: orange;
  text-decoration:none;
}




/* rocketcss */
/* Slide in Overlay from the Top */
/* .containerTop {
  position: relative;
  width: 100%;
}
.imageTop {
  display: block;
  width: 100%;
  height: auto;
}
.textTop {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlayTop {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.containerTop:hover .overlayTop {
  bottom: 0;
  height: 100%;
} */

/* Slide in Overlay from the Bottom */
/* .containerBottom  {
  position: relative;
  width: 100%;
}
.imageBottom  {
  display: block;
  width: 100%;
  height: auto;
}
.textBottom  {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlayBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.containerBottom:hover .overlayBottom {
  height: 100%;
} */


